@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700|Roboto+Condensed:400,700,300);

.Miso { 
	font-family: Miso;
	font-weight: normal;
	font-style: normal;
}

body, h1 {
	font-family: Miso;
}

h1 {
	font-size: 48px;
	margin: 0px;
	margin-left: 12px;
}

.logo {
	display: block;
	margin: auto;
	margin-top: 45px;
	margin-bottom: 20px;
}

.hero-p {
	color: #ffffff;
	width: 47%;
	line-height: 1.25;
	display: block;
	margin: auto;
	font-size: 20px;
	text-align: center;
}

.row {
	/*background-color: #efefef;*/
	margin-top: 30px;
}

.black {
	background-color: rgba(0,0,0,.75);
	width: 980px;
	height: 427px;
	position: absolute;
	z-index: 99;
}

.personal {
	margin-top: 20px;
}

.focus, .design, .contact {
	font-size: 22px;
	text-align: center;
	margin-bottom: 0px;
}

#works, #designs, #contact-info {
	padding-bottom: 70px;
	border-bottom: 1px solid #cccccc;
}

.project {
	font-size: 18px;
	font-family: 'Roboto Condensed';
	font-weight: 300;
}

.project-title, .project-comp {
	font-size: 12px;
}

.project, .project-title {
	margin-top: 5px;
	margin-bottom: 0px;
}

.project-type {
	margin-bottom: 0px;
}

.large-4 p {
	text-align: center;
}

.black {
	visibility: hidden;
}

#hero:hover .black{
	visibility: visible;
}

.icon {
	filter: none;
 	-webkit-filter: grayscale(0%);
}

.icon:hover {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
 	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: url(grayscale.svg); 
	filter: gray; 
	cursor: pointer;
}

#info, #ac, #inf, #aeg {
	border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
}

.footer {
	font-family: 'Roboto Condensed';
	font-weight: 300;
	text-align: center;
}

.projbs, .projac, .projnar, .projhs, .projinfo, .projpoly {
	position: absolute;
	width: 900px;
	height: 800px;
	background-color: #fff;
	z-index: 9999;
	top: 65%;
	left: 50%;
	margin-top: -400px; 
	margin-left: -450px;
	overflow: scroll;
}


.overlay{
    opacity:0.8;
    background-color:#000;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}

.proj-container {
	padding: 20px;
	margin-left: 75px;
	margin-right: 75px;
}

.proj-header {
	font-size: 28px;
	margin-bottom: 0px;
}

.proj-cat {
	font-size: 18px;
	margin-bottom: 0px;
}

.sub {
	margin-top: -25px;
	margin-bottom: 10px;
}

.nda {
	margin-top: -10px;
	font-size: 12px;
	font-weight: 700;
}

.proj-desc {
	font-family: 'Roboto Condensed';
	margin-bottom: 15px;
	font-size: 14px;
}

.close {
	font-size: 22px;
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 15px;
	background-color: #00AEE8;
	color: #fff;
	padding: 10px;
}

.close:hover {
	background-color: #0887E8;
	color: #fff;
}

#inf, #poly {
	text-align: center;
}
