@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700|Roboto+Condensed:400,700,300);

.Miso { 
	font-family: Miso;
	font-weight: normal;
	font-style: normal;
}

body, h1 {
	font-family: Miso;
}

h1 {
	font-size: 48px;
	margin: 0px;
	margin-left: 12px;
}

.logo {
	display: block;
	margin: auto;
	margin-top: 45px;
	margin-bottom: 20px;
}

.hero-p {
	color: #ffffff;
	width: 47%;
	line-height: 1.25;
	display: block;
	margin: auto;
	font-size: 20px;
	text-align: center;
}

.row {
	/*background-color: #efefef;*/
	margin-top: 30px;
}

.black {
	background-color: rgba(0,0,0,.75);
	width: 980px;
	height: 427px;
	position: absolute;
	z-index: 99;
}

.personal {
	margin-top: 20px;
}

.focus, .design, .contact {
	font-size: 22px;
	text-align: center;
	margin-bottom: 0px;
}

#works, #designs, #contact-info {
	margin-bottom: 90px;
}

.project {
	font-size: 18px;
	font-family: 'Roboto Condensed';
	font-weight: 300;
}

.project-title, .project-comp {
	font-size: 12px;
}

.project, .project-title {
	margin-top: 5px;
	margin-bottom: 0px;
}

.project-type {
	margin-bottom: 0px;
}

.large-4 p {
	text-align: center;
}

.black {
	visibility: hidden;
}

#hero:hover .black{
	visibility: visible;
}

/*
.icon {
	filter: none;
 	-webkit-filter: grayscale(0%);
}

.icon:hover {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
 	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: url(grayscale.svg); 
	filter: gray; 
}
*/

.icon {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg); 
  filter: gray; /
}

.icon:hover {
	filter: none;
 	-webkit-filter: grayscale(0%);
}



#info {
	border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
}

.footer {
	font-family: 'Roboto Condensed';
	font-weight: 300;
	text-align: center;
}

